<!DOCTYPE html>
<html lang="en">

<body style="font-size:20px; padding:50px;">
  <header>
    <% include ./partials/_header %>

  </header>

<ul>
 <h3>List of Urls:</h3>
 <% for (url in urls) { %>
   <li><%= url %> -<a href=<%= urls[url] %>><%= urls[url] %></a>
   <form method="POST" action=/urls/<%= url %>/delete><button type="delete">Delete</button></form>
   <a href = "/urls/<%= url %>">Edit</a>
  </li>
 <% } %>
</ul>




</body>
</html>


